{{- if .Values.web.enabled }}
{{- with .Values.web }}
{{- $fullName := include "jumpserver.fullname" $ }}

kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ $fullName }}-jms-web"
  labels:
    {{- include "jumpserver.labels" $ | nindent 4 }}
    {{- toYaml .labels | nindent 4 }}
data:
  default.conf: |
    {{- $nginxConfigContent := "" }}
    {{- if .nginxConfig }}
      {{- $nginxConfigContent = .nginxConfig }}
    {{- else }}
      {{- $path := printf "%s/%s/%s" "configs" "jms-web" "default.conf" -}}
      {{- $nginxConfigContent = $.Files.Get $path }}
    {{- end }}
    {{- tpl $nginxConfigContent $ | nindent 4 }}
{{- end }}
{{- end }}
